body {
  color: rgb(116, 39, 5);
}
.content {
  margin-inline: auto;
  width: 200px;
  text-align: center;
  margin-top: 100px;
  h2 {
    font-size: 2.5em;
    font-weight: bold;
  }
}
.content-nav {
  width: 350px;
  height: 310px;

  background-color: antiquewhite;
  border-bottom-left-radius: 27%;
  border-bottom-right-radius: 27%;
  border-top-left-radius: 27%;
  border-top-right-radius: 27%;
  margin: 0 auto;
}
.logo {
  height: 70px;
  width: 200px;
  background-color: rgb(255, 223, 127);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.option {
  height: 35px;
  width: 100px;
  background-color: rgb(255, 223, 127);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
}
.colum {
  display: flex;
  flex-direction: column;
}
.shop {
  display: flex;
  justify-content: center;
}
.articl {
  width: 350px;
  height: 310px;
  margin-top: 50px;
  margin-inline: auto;
  background-color: antiquewhite;
  border-bottom-left-radius: 17%;
  border-bottom-right-radius: 17%;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 7%;
  margin-bottom: 20px;
}
.flexh {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.articl h3 {
  font-size: 1.3em;
  padding-top: 20px;
  font-weight: bold;
}
button {
  margin: 0 auto;
  height: 100px;
  width: 200px;
  background-color: rgb(255, 223, 127);

  border: solid 0px rgb(255, 223, 127);
  padding: 0.6rem;
  border-radius: 30px;
  color: rgb(116, 39, 5);
  font-weight: bold;
}
.articl img {
  width: 350;
  height: 310;
  border-top-left-radius: 17%;
  border-top-right-radius: 17%;
}
